= render :layout => 'layouts/basic' do
	#navigation.wrapper
		.navbar-static-top
			= render :partial => 'hidden_header'
			= render :partial => 'header_and_branding'
			= render :partial => 'navigation'

	= render :partial => 'flash'

	- if body_class == 'welcome-index'
		!= yield
	- else
		#content
			.container
				!= yield

	-unless user_signed_in?
		= render :partial => 'ending_wrapper'
